@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Playfair+Display:ital,wght@0,500;1,400&family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,400&family=Roboto+Slab:wght@100&display=swap');

html {
    scroll-behavior: smooth;
}
.logo{
    width: 200px;
}

body {
    background: url(../images/bg-tile.png);
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
}

img.inject-me {
    display: none;
}
aside{
    color: aliceblue;
}
section > div > p {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-size: 25px;
    color: #464b4f;
    line-height: 42px;
}
.section{
    background: url(images/1612782343_137-p-goluboi-fon-bez-nichego-na-ves-ekran-169.jpg);
    background-attachment: fixed;
    background-size: cover;
}
p{
    color: rgb(192, 192, 197);
}


a {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.site-inner {
    position: relative;
    width: 58.75em;
    margin-left: auto;
    margin-right: auto;
}

.site-inner-abs {
    position: absolute;
    top: 0;
    left: 50%;
    width: 58.75em;
    margin-left: -29.375em;
}

.heading {
    color: #464b4f;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
h2{
    color: #1d13da;
}

.heading.h-01 {
    font-size: 80px;
    font-weight: normal;
    line-height: 1;
    text-transform: uppercase;
    transition: transform 1s ease;
    color: #EB6DCF;
    font-family: Mulish;
}
.heading{
    font-size: 80px;
    font-weight: normal;
    line-height: 1;
    text-transform: uppercase;
    transition: transform 1s ease;
    color: #EB6DCF;
    font-family: Mulish;
}

.copy-003{
    color: #EB6DCF;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    line-height: 1;
    font-weight: 900;
}
.h-002{
    color: #EB6DCF;
    font-size: 22px;
    font-weight: 900;
    line-height: 1;
}

.heading.h-02 {
    font-size: 22px;
    font-weight: 900;
    line-height: 1;
    color: #0d11fc;
}

.heading.h-03 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    color: #0003b1;
}
.copy-0{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-size: 18px;
    color: #d5ddf1;
    line-height: 30px;
}

.copy-01 {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-size: 25px;
    color: #107ed8;
    line-height: 42px;
}

.copy-02 {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-size: 18px;
    color: #EB6DCF;
    line-height: 30px;
}

.copy-03, #page-work .filter-link, #page-signup .form-result {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    line-height: 1;
    font-weight: 900;
    color: #23232e;
}
.section {
    padding: 114px 0;
}

.section .h-01 {
    text-align: center;
}
.fa-heart{
    animation: heart 1s infinite;
}
@keyframes heart {
    0%{color: rgb(253, 0, 253);}
    50%{color:rgba(241, 13, 222, 0.637);}
    100%{color:rgb(173, 42, 233);}
}

#page-hero {
    text-align: center;
    background-color: #EB6DCF;
}

#page-hero .brand-logo {
    padding: 80px 0 100px 0;
}

#page-hero .brand-logo #brand-logo {
    height: 135px;
    width: 135px;
}


#page-signup .form-result {
    color: white;
    padding: 20px 0;
}

#page-footer {
    padding-top: 1px;
    text-align: center;
    padding-bottom: 90px;
    background: #580747;
}

#page-footer .social-links {
    margin: 90px 0;
}

#page-footer .social-links:after {
    content: "";
    display: table;
    clear: both;
}

#page-footer .social-links a {
    display: inline-block;
    margin: 0 15px;
    font-size: 45px;
    color: #dbdbdb;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#page-footer .social-links a:hover {
    color: #7b77c9;
}

#page-footer .social-links svg {
    height: 50px;
    width: 50px;
}

#page-footer .social-links svg * {
    fill: #dbdbdb;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#page-footer .copy-02 {
    margin-bottom: 17px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .site-inner {
        width: 47.9375em;
    }

    #page-hero .copy-02 {
        padding: 0 140px;
    }

    #page-about .columns {
        padding: 0 40px;
    }

    #page-work {
        overflow: hidden;
    }

    #work-grid {
        left: 50%;
        margin-left: -310px;
    }

    #page-photography .photo-item {
        margin: 0 10px 20px 10px;
    }

    #page-photography .photo-item figure {
        height: 235px;
        width: 235px;
    }
}

@media only screen and (max-width: 767px) {
    #page-container {
        overflow: hidden;
    }

    .section {
        padding: 50px 0;
    }

    .site-inner {
        width: 100%;
    }

    .h-01 {
        font-size: 36px !important;
    }

    #page-hero .brand-logo {
        padding: 20px 0 20px 0;
    }

    #page-hero .h-01 {
        margin-bottom: 20px;
    }

    #page-hero .copy-02 {
        padding: 0 40px;
        margin-bottom: 30px;
    }

    #page-about .h-01 {
        margin: 40px 0 40px 0;
    }

    #page-about .h-03 {
        margin-bottom: 10px;
    }

    #page-about .copy-01 {
        font-size: 18px;
        line-height: 24px;
    }

    #page-about .copy-02 {
        line-height: 24px;
    }

    #page-about .columns {
        display: block;
    }

    #page-about aside {
        float: none;
        width: 100%;
        padding: 0 20px;
        margin: 0 0 30px 0;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #page-work .h-01 {
        margin-bottom: 20px;
        background-color: #3881ca;
    }

    #page-work .mobile-filter-select {
        position: relative;
        display: block;
        margin: 30px 0;
        font-size: 14px;
        color: white;
        text-align: center;
        background-color: #3881ca;
    }

    #page-work .mobile-filter-select:after {
        content: "+";
        position: relative;
        left: 5px;
        background-color: #3881ca;
    }

    #page-work .mobile-filter-select.opened:after {
        content: "-";
        background-color: #3881ca;
    }

    #page-work #work-filter {
        display: none;
        height: 145px;
        background-color: #3881ca;
    }

    
    #page-work #work-filter a {
        position: relative;
        text-align: center;
        display: block;
        margin-bottom: 15px;
        border: none;
        padding: 0;
        background-color: #3881ca;
    }

    #page-work #work-filter a.active:after {
        content: "";
        display: block;
        height: 3px;
        width: 60px;
        text-align: center;
        position: absolute;
        bottom: -8px;
        left: 50%;
        margin-left: -31px;
        height: 3px;
        width: 60px;
        background-color: #3881ca;
    }

    #page-work #work-grid {
        left: 50%;
        margin-left: -150px;
        width: 300px;
        background-color: #3881ca;
    }

    #page-work .button {
        margin-top: 0;

    }

    #page-photography .h-01 {
        margin: 0px 0 40px 0;
    }

    #page-photography .copy-01 {
        font-size: 18px;
        line-height: 24px;
        padding: 0 20px;
    }

    #page-photography .photo-item {
        float: none;
        margin: 0 auto 10px auto;
        display: inline-block;
    }

    #page-photography .button {
        margin-top: 40px;
    }

    #page-signup .copy-02 {
        padding: 0 20px;
    }

    #page-signup input, #page-signup button {
        width: 90%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #page-signup input {
        margin-right: auto;
        padding: 18px 20px;
    }

    #page-footer .social-links {
        margin: 40px 0;
    }

    #page-footer .social-links a {
        margin: 0 10px;
    }

    #page-footer .copy-02 {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 12px;
    }
}

body {
    -webkit-tap-highlight-color: transparent;
}

.about-me-info {
    display: flex;
    color: #EB6DCF;
}
.about-skz{
    color: #EB6DCF;
    font-size: 20px;
    font-weight: 900;
}

.about-me-info img {
    width: 500px;
    margin-right: 10px;
    margin-left:10px ;
}
.chan{
    width: 500px;
    margin-right: 50px;
    margin-left: 50px;
}

.texst{
    color: #EB6DCF;
    font-size: 20px;
    font-weight: 800;
}

.texst1{
    color: #EB6DCF;
    font-size: 30px;
    font-weight: 800;
    margin-left: 15%;
}